/* ==========================================================================
   Typography
   ========================================================================== */

/* 
   Body
   ========================================================================== */

body {
	font-family: $base-font;
	color: $text-color;
}

/* 
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 0.5em;
	line-height: 1.2;
	font-family: $heading-font;
	font-weight: bold;
}

h1 {
	margin-top: 0;
	font-size: $type-size-3;
}

h2 {
	font-size: $type-size-4;
}

h3 {
	font-size: $type-size-5;
}

h4 {
	font-size: $type-size-6;
}

h5 {
	font-size: $type-size-6;
}

h6 {
	font-size: $type-size-6;
}

// h1, h2, h3, h4, h5, h6 {
// 	font-family: $heading-font;
// }

/*han.x del*/

// h1 {
// 	@include font-rem(28);

// 	@media #{$medium} {
// 		@include font-rem(32);
// 	}
// }

/*han.x add*/
small,
.small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* reduce orphans and widows when printing */

p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
  orphans: 3;
  widows: 3;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

h1 a{
	color: rgba(#222,0.8);;
}

/* 
   Links
   ========================================================================== */

a { 
	text-decoration: none;
	color: $link-color; 

	&:visited { 
		color: lighten($link-color, 20); 
	}

	&:hover { 
		color: darken($link-color, 20); 
	}

	&:focus { 
		outline: thin dotted; 
		color: darken($link-color, 20);
	}

	&:hover, 
	&:active { 
		outline: 0; 
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

/* 
   Captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

/* 
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(14);
	background-color: $body-color;
	border: 1px solid darken($body-color,20);
	border-radius: 3px;
}

/* 
   Blockquotes
   ========================================================================== */

blockquote {
	font-family: $alt-font;
	font-style: normal;
	// border-left: 8px solid $border-color;
	padding-left: 20px;

	//han.x add
	border-left : 0.25em solid $primary-color;
	margin: 2em 1em 2em 0;
	padding-left: 1em;
	padding-right: 1em;
	color: lighten($text-color, 10);
	@media #{$medium} {
		margin-left: -28px;
	}
}

/* 
   Code
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
	font-weight: bold;
	font-size: $type-size-5
}

pre {
	overflow-x: auto; /* add scrollbars to wide code blocks*/
  }

p > code,
a > code,
li > code,
figcaption > code,
td > code {
//   margin: 0 2px;
	// padding: 0 5px;
//   @include font-rem(12);
	line-height: 1.5;
//   border: 1px solid lighten(#000, 90);
	// background-color: lighten(#000, 95);
	// border-radius: 4px;
// han.x add
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-size: 15px;
	color:  mix(#fff, $base08, 10%);
	// background: $code-background-color;
	background: mix(#fff, $base08, 90%);
	border-radius: $border-radius;
  
	&:before,
	&:after {
	  letter-spacing: -0.2em;
	  content: "\00a0"; /* non-breaking space*/
	}
}

pre {

	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;

	&::-webkit-scrollbar {display:none}

	// &::-webkit-scrollbar {
	// 	height: 12px;
	// 	background-color: $dark-gray;
	// 	border-radius: 0 0 4px 4px;
	// }

	// &::-webkit-scrollbar-thumb:horizontal {
	// 	background-color: $dark-gray;
	// 	border-radius: 4px;
	// }
}

// pre {
// 	overflow-x: auto; /* add scrollbars to wide code blocks*/
// }

/* horizontal rule */

hr {
	display: block;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid $border-color;
  }
  
  /* lists */
  
  ul li,
  ol li {
	margin-bottom: 0.5em;
  }
  
  li ul,
  li ol {
	margin-top: 0.5em;
  }