<!DOCTYPE html>
<html lang="en">

        <style type="text/css">
        
            .bodybgcolor{
                background: #e8e8e8;
            }
        
        </style>

{% include head.html %}


<!-- hack iOS CSS :active style -->
<body class="bodybgcolor" ontouchstart="">

    {% include nav.html %}


    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
